{% load custom_tags %}
<div class="module archive">
	{% if archive_dict %}
		{% for year, months_dict in archive_dict.items reversed %}
			{{year}}
			<ul>
				{% for month, posts in months_dict.iteritems %}
					{% if posts %}
						<li class="month"><i class="icon-chevron-right">&nbsp; </i>{{month|month_name}} ({{posts|length}})</li>
							<ul class="posts" style="display:none;">
								{% for post in posts %}
									<li class="post">
										<a href="{{post.get_absolute_url}}" title="{{post.title}}">{{post.title|truncatewords:'7'}}</a>
									</li>
								{% endfor %}
							</ul>
					{% endif %}
				{% endfor %}
			</ul>
		{% endfor %}
		<script>
			(function(){

				$('li.month').click(function(i){
					var $this = $(this),
						className = $(this).find('i').attr('class');

					$(this).find('i').attr('class', function(){
						return className.indexOf('down') !== -1 ? 'icon-chevron-right': 'icon-chevron-down';
					});
					$(this).next('ul.posts').slideToggle('slow')
				});

			})();
		</script>
	{% endif %}
</div>