{% extends "base.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}
{% load custom_tags %}
{% load templatetag_handlebars %}

<div class="blogitem">

	<h2> {{ post.title }} </h2>

		<p class="blog_meta">
			Posted by Ms Coco on {{ post.created|date:"l d F Y" }}
			<span class="meta tags">
				<i class="icon-tag"></i>
				{% for tag in post.tags.all %}
					<a href="/tag/{{tag}}">{{tag}}</a>{% if not forloop.last %}, {% endif %}
				{% endfor %}
			</span>
			<span class="meta comments">
				<i class="icon-comments"></i> 
				{% if comments %}
					{{comments|length}} comment{{ comments|pluralize }}
				{% else %}
					No comments
				{% endif %}
			</span>				
		</p>

	<div class="post_body">
		{{ post.body|safe|linebreaks }}
	</div>

</div>
	
	<!-- commments -->
	<ul id="comments" class = "comments-list">
		{% if comments %}
				{% for comment in comments %}
					<li class="comment">
						<div>
							<span class="name">
								{{ comment.author }}
							</span>
							<span class="right">
								{{ comment.posted_on|prettify_date }}
							</span>
							<p class="comment-body">
								{{ comment.body }}
							</p>
							<div class="actions">
								<a href="" data-placement="top" rel="tooltip" title="Reply"><i class="icon-reply"></i></a>
								<a href="" data-placement="top" rel="tooltip" title="Like"><i class="icon-thumbs-up"></i></a>
								<a href="" data-placement="top" rel="tooltip" title="Dislike"><i class="icon-thumbs-down"></i></a>
							</div>
						</div>
					</li>
				{% endfor %}
		{% endif %}
	</ul>

	{% tplhandlebars "comment-template" %}
		<li class="comment">
			<div>
				<span class="name">
					{{ author }}
				</span>
				<span class="right">
					{{ posted_on }}
				</span>
				<p class="comment-body">
					{{ body }}
				</p>
			</div>
		</li>
	{% endtplhandlebars %}

<!-- form -->
	
{% if form %}

	<form action="{% url blog.views.add_comment post.id %}" method="post" class="form-horizontal">
		<fieldset>
		<legend>Add a new comment</legend>
			{% csrf_token %}
	<!-- 		{{form}}
			{{ form.as_p }} -->

			{% for field in form %}
				{% ifequal field.name 'body' %}
					<div class="controls">
						{{field}}
					</div>
				{% endifequal %}

				{% ifequal field.name 'author' %}
					<div class="controls">
						{{field}}
				{% endifequal %}

				{% ifequal field.name 'email' %}
						{{field}}
					</div>
				{% endifequal %}

			{% endfor %}
			<div class="controls">
				<button class="btn btn-small" type="submit" disabled>Post Comment</button>
			</div>
		</fieldset>
	</form>

{% endif %}

<script>

	require(["comment", "libs/bootstrap.min"], function(c) {
		var c = new c();
		$('[rel=tooltip]').tooltip() 
	});

</script>

{% endblock %}