/* Bootstrap overrides */

/* custom */

body {
	background-image: url("https://twimg0-a.akamaihd.net/images/themes/theme1/bg.png");
	background-attachment: fixed;
	background-color: #C0DEED;
	background-position: left 40px;
	background-repeat: no-repeat;
}

textarea, input[type="text"] {
	border-radius: 0;
}

legend {
	width: 517px;
	font-size:18px;
	margin-bottom: 13px;
	border-color: -moz-use-text-color -moz-use-text-color #0088CC;
}

textarea.custom {
	width: 503px;
}

.btn {
	border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.row .span3.margin-left-10 {
	width: 296px;
	margin-left: -8px;	
}
.wrap {
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	width: 940px;
	z-index: 0;
}

.content, .module {
	background-color: white;
	margin: 10px;
	padding: 8px;
}

.module {
	margin-right: 0;	
}

/*.margin-left-10 {
	width: 229px;
	margin-left: 0px;
}*/

ul {
	list-style: none;
}

ul.bloglist {
	margin: 0;
}

ul.bloglist li {
	border-bottom: 1px dashed #CFCFCF;
	padding: 0 5px 10px 0;
}

ul.bloglist li.blogitem h2, .blogitem h2 {
	text-shadow: 0px 1px 0px #000;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	margin-bottom: 0;
}

ul.bloglist li h2 a{
	color: #444;
	text-decoration: none;
}

p a.read-more {
	font-size: 12px
}

span.comments {
}

i.icon-comment {
	color: red;
}

span.meta {
	margin-left: 13px;
}

p.blog_meta {
	margin: 7px 0 12px 0;
	font-size: 12px;
}

ul.comments-list {
	margin-left: 0;
	/*list-style: none;*/
}

.separator {
	text-align: center;
/*	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin:1.5em 0;
	text-shadow: white 0px 1px 0px;*/
}